<apex:component access="global" controller="GetCustSPDetailsController">
    <apex:attribute name="relatedId"
        description="related record Id"
        assignTo="{!EventID}"
        type="Id" />
        <apex:attribute name="whoid"
        description="related record whoId"
        assignTo="{!EventwhoID}"
        type="Id" />
        <apex:attribute name="whatid"
        description="related record whatId"
        assignTo="{!EventwhatID}"
        type="Id" />
      <apex:repeat value="{!event}" var="orgev"> 
{!Custset_Location}: {!orgev.Location_Category_Mapping__r.Location__r.name}
{!Custset_Category}: {!orgev.Location_Category_Mapping__r.Category__r.name}
Appointment Type: {!orgev.Appointment_Type__r.name}
Participant Count: {!orgev.No_of_Participants__c}
</apex:repeat>
Start Date and Time: {!strDateTimeofEvent}
End Date and Time: {!endDateTimeofEvent}
</apex:component>